{% extends "base_stats.html" %}
 {% block mediaCSS %}
<style>
    .label-as-badge {
        border-radius: 1em;
        cursor: pointer;
    }
</style>
 {% endblock %}
{% block content %}

<h1>{{ page_name }}</h1><a  class="btn btn-info" href="{{ uri_for('taxonomy', page_id=page_id) }}">Setup Taxonomy</a>
<!-- Modal -->
<div id="myModal" class="modal fade " role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="$('#modal-body').html('');">&times;</button>
        <h4 class="modal-title">Video</h4>
      </div>
      <div class="modal-body" id="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
      </div>
    </div>

  </div>
</div>
<!-- end modal -->
<h2>Published Posts <div class="btn btn-info" data-toggle="collapse" data-target="#demo"> <i class="glyphicon glyphicon-search" title="Go To"></i>
Search</div></h2>

<div id="demo" class="collapse">
<input type="text" name="txtsearch" id="txtsearch" value="{{ str_query }}" ><br/>
{% for taxonomy in page_all_taxonomies %}
<span onclick="jQuery(this).toggleClass('label-warning');jQuery(this).toggleClass('class-search');" class="label label-as-badge label-default {% if taxonomy in str_taxonomies %} label-warning class-search{% endif %}" data-type="tax {{taxonomy}}">{{ taxonomy }}</span>
{% endfor %}<br/>
<span onclick="jQuery(this).toggleClass('label-warning');jQuery(this).toggleClass('class-search');" class="label label-as-badge   label-default {% if 'all' in str_types %} label-warning class-search{% endif %}" data-type="typ all">all</span>
<span onclick="jQuery(this).toggleClass('label-warning');jQuery(this).toggleClass('class-search');" class="label label-as-badge   label-default {% if 'photo' in str_types %} label-warning class-search{% endif %}" data-type="typ photo">photo</span>
<span onclick="jQuery(this).toggleClass('label-warning');jQuery(this).toggleClass('class-search');" class="label label-as-badge  label-default {% if 'video' in str_types %} label-warning class-search{% endif %}" data-type="typ video">video</span>
<span onclick="jQuery(this).toggleClass('label-warning');jQuery(this).toggleClass('class-search');" class="label label-as-badge  label-default {% if 'link' in str_types %} label-warning class-search{% endif %}" data-type="typ link">link</span>
<span onclick="jQuery(this).toggleClass('label-warning');jQuery(this).toggleClass('class-search');" class="label label-as-badge  label-default {% if 'with' in str_types %} label-warning class-search{% endif %}" data-type="typ with">with</span>
<span onclick="jQuery(this).toggleClass('label-warning');jQuery(this).toggleClass('class-search');" class="label label-as-badge  label-default {% if 'shared' in str_types %} label-warning class-search{% endif %}" data-type="typ shared">shared</span>
<span onclick="jQuery(this).toggleClass('label-warning');jQuery(this).toggleClass('class-search');" class="label label-as-badge  label-default {% if 'live' in str_types %} label-warning class-search{% endif %}" data-type="typ live">live</span>
<div class="btn btn-warning " onclick='searchPosts();'>Search</div>
<table >
<tr>
    <td></td>
<tr>
<tr>
    <td></td>
</tr>
</table>
</div>


    <table class="table table-striped"><tr><th>Post_id</th><th>Image</th><th>Type</th><th>Message</th><th>Time (UTC {{ timezone }})</th></tr>
{% for post in posts %}

    <tr>
        <td><!-- <a class="btn btn-info" target="_blank" href="/realtime_counter/{{ post.id }}/?type=fixed">RT Reactions</a> --><a href="https://www.facebook.com/{{ post.id }}" target="_blank">FB</a></td>
        <td>
            <img src="{{ post.picture }}" style="width:70px;">
            {% if page.page_token !='' and page.page_token!='undefined' %}
            <a target="_blank" class="btn btn-info" href="/post_stats/{{ post.id }}/"><i class="glyphicon-stats glyphicon"></i></a>
            {% endif %}
            <a target="_blank" class="btn btn-info" href="{{ uri_for('cloud_vision_api', post_id=post.id) }}"><i title="metadata" class="glyphicon-search glyphicon"></i></a>
        </td><td><a href="{{ post.link}}" target="_blank">{{ post.type }}</a></td><td>

            <table class="table">
            {% if post.story !='' %}
                <tr><td>Story</td><td>{{ post.story }}</td></tr>
            {% endif %}
                <tr><td>Headline copy</td><td>{{ post.message }}</td></tr>
                <tr><td>Art.Title</td><td>{{ post.attachment_title }}</td></tr>
                <tr><td>Art.Description</td><td>{{ post.attachment_description }}</td></tr>
                <tr><td colspan="2">
                    <span class="label label-as-badge label-info">default</span>
                    {% for general_tax in page_general_taxonomies %}
                        <span onclick="switch_badge(this,'{{ post.id }}');" class="label label-as-badge label-default {% if general_tax in post.taxonomies %} label-info {% endif %}">{{ general_tax }}</span>
                    {% endfor %}
                    {% if post.type=='photo' %}
                        {% for general_tax in page_photo_taxonomies %}
                            <span onclick="switch_badge(this,'{{ post.id }}');" class="label label-as-badge label-default {% if general_tax in post.taxonomies %} label-info {% endif %}">{{ general_tax }}</span>
                        {% endfor %}
                    {% endif %}
                    {% if post.type=='link' %}
                        {% for general_tax in page_link_taxonomies %}
                            <span onclick="switch_badge(this,'{{ post.id }}');" class="label label-as-badge label-default {% if general_tax in post.taxonomies %} label-info {% endif %}">{{ general_tax }}</span>
                        {% endfor %}
                    {% endif %}
                    {% if post.type=='video' %}
                        {% for general_tax in page_video_taxonomies %}
                            <span onclick="switch_badge(this,'{{ post.id }}');" class="label label-as-badge label-default {% if general_tax in post.taxonomies %} label-info {% endif %} ">{{ general_tax }}</span>
                        {% endfor %}
                    {% endif %}

                </td></tr>
            </table>
        </td><td>{{ post.created_time }}</td>
    </tr>
{% endfor %}
    </table>
<input type="hidden" value="{{ page_previous }}" id="previous">
<input type="hidden" value="{{ page_next }}" id="next">
<input type="hidden" value="{{ first_created_time }}" id="first_created_time">
<input type="hidden" value="{{ last_created_time }}" id="last_created_time">
{% if previous !='' %}
    {% if str_sql !='' %}
        <a  href="#" onclick="searchPosts('previous');return false;" class="btn btn-info">Load previous page    </a>
    {% else %}
        <a  href="{{ uri_for('available-posts', page_id=page.page_id) }}?next={{ page_previous|safe }}" class="btn btn-info">Load previous page    </a>
    {% endif %}
{% endif %}
{% if next !='' %}
    {% if str_sql !='' %}
        <a  href="#"  onclick="searchPosts('next');return false;" class="btn btn-info">Load next page    </a>
    {% else %}
        <a  href="{{ uri_for('available-posts', page_id=page.page_id) }}?next={{ page_next|safe}}" class="btn btn-info">Load next page    </a>
    {% endif %}
{% endif %}
<form method="POST" id='search_form' name='search_form' action='{{ uri_for('available-posts', page_id=page.page_id) }}'>
    <input type='hidden' name='_csrf_token' id='_csrf_token' value='{{ csrf_token() }}'/>
    <input type='hidden' name='action' id='action' value='get_data'/>
    <input type='hidden' name='taxonomies' id='frm_taxonomies' value=''/>
    <input type='hidden' name='types' id='frm_types' value=''/>
    <input type='hidden' name='str_query' id='frm_str_query' value=''/>
    <input type='hidden' name='created_time_where' id='created_time_where' value=''/>
    <input type='hidden' name='created_time_comparator' id='created_time_comparator' value=''/>
</form>
{% endblock %}

{% block mediaJS %}

<script>
    function update_taxonomy(post_id,taxonomy, bool_taxonomy){
        $.ajax({
                url: '{{ uri_for("update-post-taxonomy") }}',
                type: 'post',
                data: { '_csrf_token': "{{ csrf_token() }}","post_id": post_id, "taxonomy": taxonomy,"bool_taxonomy": bool_taxonomy},
                success: function (data) {
                    console.log(data);
                },
                error: function(data){
                  console.log(data);
                }
            });
    }
    function switch_badge(badge,post_id){
        console.log(post_id);
        badge_str = $(badge).html();
        console.log(badge_str);
        $(badge).toggleClass( "label-info" );
        badge_bool = $(badge).hasClass("label-info");
        console.log(badge_bool);
        update_taxonomy(post_id, badge_str,badge_bool);
    }
    function deleteLiveVideo(videoid, status){
        if(status=='SCHEDULED_UNPUBLISHED'|| status=='UNPUBLISHED' || status=='LIVE_NOW'){
            if (confirm("Sure you want to delete this video?")){
                window.location = '?action=delete_live&video_id=' +videoid;
            }
        }else{
            alert('Cant delete published video. Use facebook admin.');
        }
    }

    function changeLiveVideoStatus(videoid,status){
        window.location = '?status='+ status +'&action=update_live&video_id=' +videoid;
    }

    function searchPosts(direction){
        if (direction === undefined) {
            direction = '';
        }
        var attributes  = $('.class-search');
        tax_arr=[];
        typ_arr=[];
        for(i=0;i<attributes.length;i++)
        {
            data = $(attributes[i]).data('type')
            type = data.substr(0,3);
            if(type == 'tax'){
                var_taxonomy = data.substr(4,data.length-4)
                tax_arr.push(var_taxonomy);
            }
            else if(type=='typ'){
                var_type = data.substr(4,data.length-4)
                typ_arr.push(var_type);
            }


        }
            console.log(tax_arr);
            console.log(typ_arr);
            str_taxonimies = tax_arr.join();
            str_types = typ_arr.join();
            str_url = '{{ uri_for("available-posts", page_id=page_id) }}';
            if (direction=='previous'){
                $('#created_time_comparator').val('>');
                $('#created_time_where').val($('#first_created_time').val());
            }else if (direction=='next'){
                $('#created_time_comparator').val('<');
                $('#created_time_where').val($('#last_created_time').val());
            }

            $('#frm_taxonomies').val(str_taxonimies);
            $('#frm_types').val(str_types);
            $('#frm_str_query').val($('#txtsearch').val());
            $('#search_form').submit();
    }


{% if user.isadmin %}
    console.log("{{ str_sql }}");
{% endif %}
</script>
{% endblock %}
