{% extends base_layout %}

{% block content %}
<div id="messages_local"></div>
<a class="btn btn-info" href="/available_posts/{{ page_id }}/">Back to Page Posts</a>
<h1> Schedule a Live Video</h1>
<form id="schedule_form" name="schedule_form" action="" method="POST">
<table class="table table-condensed table-striped">
     <tr>
        <td>
            Title
        </td>
        <td>
            <input type="text" id="str_title" name="str_title"/>
        </td>
    </tr>
    <tr>
        <td>
            Description (suports emoji)
        </td>
        <td>
            <input type="text" id="str_description" name="str_description"/>
        </td>
    </tr>
   <!--  <tr>
        <td>
            Image
        </td>
        <td>
            <input type="file" id="input_photo" name="input_photo" class="input_photo" />
        </td>
    </tr> -->
    <tr>
        <td>
            Minutes for transmission (10-60)
        </td>
        <td>
            <input type="text" id="int_minutes" name="int_minutes" value="10"/>
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>
            <div class="btn btn-info" onclick="post_schedule();">Schedule</div>
        </td>
    </tr>

</table>

{% endblock %}

{% block mediaJS %}
<script>



var dataURLToBlob = function(dataURL) {
    var BASE64_MARKER = ';base64,';
    if (dataURL.indexOf(BASE64_MARKER) == -1) {
      var parts = dataURL.split(',');
      var contentType = parts[0].split(':')[1];
      var raw = decodeURIComponent(parts[1]);

      return new Blob([raw], {type: contentType});
    }

    var parts = dataURL.split(BASE64_MARKER);
    var contentType = parts[0].split(':')[1];
    var raw = window.atob(parts[1]);
    var rawLength = raw.length;

    var uInt8Array = new Uint8Array(rawLength);

    for (var i = 0; i < rawLength; ++i) {
      uInt8Array[i] = raw.charCodeAt(i);
    }

    return new Blob([uInt8Array], {type: contentType});
}




// type warning danger info success
function create_alert(message, type){
    return '<p class="alert alert-'+ type +'"><a class="close" data-dismiss="alert">×</a>' + message + '</p>';
}
function post_schedule(){
    var milliseconds = (new Date).getTime();
    var title = $('#str_title').val();
    var description= $('#str_description').val();
    var image_url= $('#str_image_url').val();






    var minutes= $('#int_minutes').val();
    if ($.isNumeric(minutes)  && parseInt(minutes)>=10){
            $('#messages_local').append(create_alert('Se publicará en: ' + minutes, 'success'));
    }else{
        $('#messages_local').append(create_alert('Minutes must be a number bigger or equal to 10','danger'));
    }
    var planned_publishing_time = milliseconds + minutes*1000;
    var apiData = new FormData();

    // blob =     dataURLToBlob(image_url);
    // var file = document.getElementById("input_photo").files[0];
    // apiData.append( "schedule_custom_profile_image",file);
    apiData.append('description', description);
    apiData.append('planned_start_time', planned_publishing_time);
    apiData.append('published', false);
    apiData.append('status','UNPUBLISHED');
    apiData.append('title', title);
    apiData.append('access_token', '{{ page_token }}');
// /client_id=%s&client_secret=%s
    $.ajax({
        url: 'https://graph.facebook.com/{{ page_id }}/live_videos?client_id={{  fb_api_key }}&client_secret={{ fb_secret }}&access_token={{ page_token }}',
        type: 'post',
        mimeType: "multipart/form-data",
        dataType: 'json',
        cache: false,
        contentType: false,
        processData: false,
        data: apiData,
        error: function(data,resultstatus,xhr) {
            window.location = '/available_posts/{{ page_id }}/';
            console.log(data);
        },
        success: function (data) {
            window.location = '/available_posts/{{ page_id }}/';
            console.log(data);
        }
    });
}
</script>
{% endblock %}
